<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla/fragmentos.html :: headfiles}"></head>
<body>
    <div th:replace="~{plantilla/fragmentos.html :: navigation}"></div>

    <div class="container">
        <h2 class="mb-4">Mis Reservas</h2>  
        
        <!-- muestra un mensaje de que se ha realizado la reserva -->
        <div th:if="${mensaje}" class="alert alert-success" role="alert">
            <span th:text="${mensaje}"></span>
        </div>
        
        <!-- muestra un mensaje si no hay reservas -->
        <div th:if="${reservas.isEmpty()}">
            <p class="alert alert-info">No tienes reservas activas.</p>
        </div>

        <!-- Tabla de reservas -->
        <table class="table table-striped mt-3" th:if="${not reservas.isEmpty()}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Instalación</th>
                    <th>Horario</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="reserva : ${reservas.content}">
                    <td th:text="${reserva.id}"></td>
                    <td th:text="${reserva.horario.instalacion.nombre}"></td>
                    <td th:text="${reserva.horario.horaInicio + ' - ' + reserva.horario.horaFin}"></td>
                    <td th:text="${reserva.fecha}"></td>
                    <td>
                        <!-- Utilizamos #authentication.name que comparar el usuario autenticado -->
                        <a th:if="${reserva.usuario.username == #authentication.name}" 
                           th:href="@{/mis-datos/editar/{id}(id=${reserva.id})}" 
                           class="btn btn-success">Editar</a>
                        <a th:if="${reserva.usuario.username == #authentication.name}" 
                           th:href="@{/mis-datos/eliminar/{id}(id=${reserva.id})}" 
                           class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>

         <!-- Paginación de reservas -->
         <div>
            <p>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <!-- Página anterior -->
                        <li class="page-item" th:classappend="${reservas.hasPrevious()} ? '' : 'disabled'">
                            <a class="page-link" th:href="@{/admin/reservas(page=${reservas.number - 1}, usuarioId=${usuarioId})}">
                                <i class="fa-solid fa-chevron-left"></i> Anterior
                            </a>
                        </li>

                        <!-- Página actual -->
                        <li class="page-item">
                            <a class="page-link active" href="#">Estás en la página <span th:text="${reservas.number + 1}"></span> de <span th:text="${reservas.totalPages}"></span></a>
                        </li>

                        <!-- Página siguiente -->
                        <li class="page-item" th:classappend="${reservas.hasNext()} ? '' : 'disabled'">
                            <a class="page-link" th:href="@{/admin/reservas(page=${reservas.number + 1}, usuarioId=${usuarioId})}">
                                Siguiente <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </p>
        </div>
    </div>

    <div th:replace="~{plantilla/fragmentos.html :: footer}"></div>
</body>
</html>
