<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla/fragmentos.html :: headfiles}"></head>
<body>
<div th:replace="~{plantilla/fragmentos.html :: navigation}"></div>

<div class="container">
    <h2>Editar Reserva</h2>
    <form method="post" th:action="@{/mis-datos/editar/{id}(id=${reserva.id})}" th:object="${reserva}">
        <div class="mb-3">
            <label for="instalacion" class="form-label">Instalación</label>
            <select name="instalacion" id="instalacion" class="form-select" th:field="*{instalacion}">
                <option th:each="instalacion : ${instalaciones}" th:value="${instalacion.id}" th:text="${instalacion.nombre}"
                        th:selected="${instalacion.id == reserva.instalacion.id}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="horario" class="form-label">Horario</label>
            <select name="horario" id="horario" class="form-select" th:field="*{horario}">
                <option th:each="horario : ${horarios}" th:value="${horario.id}" th:text="${horario.horaInicio + ' - ' + horario.horaFin}"
                        th:selected="${horario.id == reserva.horario.id}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha</label>
            <input type="date" id="fecha" name="fecha" class="form-control" th:field="*{fecha}" />
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/mis-datos/mis-reservas}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<div th:replace="~{plantilla/fragmentos.html :: footer}"></div>
</body>
</html>
